/* Style global pour le centrage (Modèle statique) */
body {
    font-family: "Times New  Roman", serif;
}

table {
  
    border: 1px solid black;
    border-collapse: separate; 
   
}

th, td {
    border: 1px solid black;
    text-align: left;
}



